/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: white;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }

  .section_button {
    width: 6% !important;
  }
}
@media only screen and (max-width: 520px) {
  .instruction {
    margin-top: 10px;
  }
  .border-box {
    border-right: none;
  }
  .section_button {
    width: 40px !important;
  }
}
.instruction {
  margin-top: 20px;
  background-color: #efefef;
  height: 200px;
  width: 100%;
  padding: 5px;
}
.border-box {
  border-right: 1px solid rgb(94, 101, 126);
  border-bottom: 1px solid rgb(94, 101, 126);
}

ul > li {
  padding: 5px;
}

.sidenav2 {
  padding-top: 20px;
  background-color: #ffffff;
  height: 100%;
}
.option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#down {
  justify-content: space-between;
}
#instruction {
  justify-content: center;
  background-color: #efefef;
  margin: 20px;
  padding: 10px;
}
.btn-test {
  background-color: gray;
  color: white;
}
.footer {
  background-color: rgb(87, 89, 202) !important;
}
.header {
  background-color: rgb(87, 89, 202) !important;
  padding: 10px;
}
.timing {
  background-color: #efefef;
  padding: 5px;
}
.section_button {
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
  width: 18%;
}

.footer-end {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 7px;
  height: 3.5rem;
}
.exam-container {
  display: flex;
  flex-direction: column;
}
.content {
  padding-bottom: 3.5rem;
}
