body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-break {
  word-wrap: break-word;
  word-break: break-all;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border-top: none;
}
.section-card {
  width: 100%;
  height: 100%;
  background-color: #ccf3e1 !important;
  box-shadow: 2px 2px #beb7b7;
}

#root {
  position: relative;
  min-height: 100vh !important;
}
